Create: Allowed, created text file called hr-test-create.txt

Edit and Save: Allowed, edited and saved hr-test-create.txt

Delete Admin File: Allowed, deleted admin created file, DELETEADMINFILE

Change Security Settings: Denied, was not able to change admins privileges 